<div class="side-btn-container">
    <button id="btn-side" onclick="someFunction()" type="button">三 </button>
</div>
<div class="title-container">
    <strong>HFRK.DEV </strong>
</div>
<div class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</div>
<div class="searchbar-container">
    <div class="searchbar">
        <input type="text" id="search" name="search" placeholder="Search..." oninput="search()">
    </div>
</div>