<h1>Hfrk's Blog</h1>
<article>
    <div class="article-title">
        <h2><a href="foo">ARCHDUKE FRANZ FERDINAND ASSASSINATED</a></h2>
        <h3><strong>Gavrillo Princip</strong> on 1914 (107 years ago)</h3>
    </div>
    <p>The assassination of Archduke Franz Ferdinand of Austria, heir presumptive to the Austro-Hungarian throne, and his wife, Sophie, Duchess of Hohenberg, occurred on 28 June 1914 in Sarajevo when they were mortally wounded by Gavrilo Princip. Princip was one of a group of six assassins also containing Muhamed Mehmedbašić, Vaso Čubrilović, Nedeljko Čabrinović, Cvjetko Popović and Trifko Grabež (one Bosniak and five Serbs consecutively) coordinated by Danilo Ilić, a Bosnian Serb and a member of the Black Hand secret society. The political objective of the assassination was to break off Austria-Hungary's South Slav provinces so they could be combined into a Yugoslavia. The conspirators' motives were consistent with the movement that later became known as Young Bosnia. The assassination led directly to World War I when Austria-Hungary subsequently issued an ultimatum to the Kingdom of Serbia, which was partially rejected. Austria-Hungary then declared war on Serbia, triggering actions leading to war between most European states.</p>
    <p>The assassination of Archduke Franz Ferdinand of Austria, heir presumptive to the Austro-Hungarian throne, and his wife, Sophie, Duchess of Hohenberg, occurred on 28 June 1914 in Sarajevo when they were mortally wounded by Gavrilo Princip. Princip was one of a group of six assassins also containing Muhamed Mehmedbašić, Vaso Čubrilović, Nedeljko Čabrinović, Cvjetko Popović and Trifko Grabež (one Bosniak and five Serbs consecutively) coordinated by Danilo Ilić, a Bosnian Serb and a member of the Black Hand secret society. The political objective of the assassination was to break off Austria-Hungary's South Slav provinces so they could be combined into a Yugoslavia. The conspirators' motives were consistent with the movement that later became known as Young Bosnia. The assassination led directly to World War I when Austria-Hungary subsequently issued an ultimatum to the Kingdom of Serbia, which was partially rejected. Austria-Hungary then declared war on Serbia, triggering actions leading to war between most European states.</p>
    <span class="tags">
        <strong>Tags: </strong>
        <ul><li><a href="">Assassination</a></li>
            <li><a href="">Austria</a></li>
            <li><a href="">World War I</a></li>
        </ul>
    </span>
</article>
<article>
    <div class="article-title">
        <h2><a href="foo">ARCHDUKE FRANZ FERDINAND ASSASSINATED</a></h2>
        <h3><strong>Gavrillo Princip</strong> on 1914 (107 years ago)</h3>
    </div>
    <p>The assassination of Archduke Franz Ferdinand of Austria, heir presumptive to the Austro-Hungarian throne, and his wife, Sophie, Duchess of Hohenberg, occurred on 28 June 1914 in Sarajevo when they were mortally wounded by Gavrilo Princip. Princip was one of a group of six assassins also containing Muhamed Mehmedbašić, Vaso Čubrilović, Nedeljko Čabrinović, Cvjetko Popović and Trifko Grabež (one Bosniak and five Serbs consecutively) coordinated by Danilo Ilić, a Bosnian Serb and a member of the Black Hand secret society. The political objective of the assassination was to break off Austria-Hungary's South Slav provinces so they could be combined into a Yugoslavia. The conspirators' motives were consistent with the movement that later became known as Young Bosnia. The assassination led directly to World War I when Austria-Hungary subsequently issued an ultimatum to the Kingdom of Serbia, which was partially rejected. Austria-Hungary then declared war on Serbia, triggering actions leading to war between most European states.</p>
    <p>The assassination of Archduke Franz Ferdinand of Austria, heir presumptive to the Austro-Hungarian throne, and his wife, Sophie, Duchess of Hohenberg, occurred on 28 June 1914 in Sarajevo when they were mortally wounded by Gavrilo Princip. Princip was one of a group of six assassins also containing Muhamed Mehmedbašić, Vaso Čubrilović, Nedeljko Čabrinović, Cvjetko Popović and Trifko Grabež (one Bosniak and five Serbs consecutively) coordinated by Danilo Ilić, a Bosnian Serb and a member of the Black Hand secret society. The political objective of the assassination was to break off Austria-Hungary's South Slav provinces so they could be combined into a Yugoslavia. The conspirators' motives were consistent with the movement that later became known as Young Bosnia. The assassination led directly to World War I when Austria-Hungary subsequently issued an ultimatum to the Kingdom of Serbia, which was partially rejected. Austria-Hungary then declared war on Serbia, triggering actions leading to war between most European states.</p>
    <span class="tags">
        <strong>Tags: </strong>
        <ul><li><a href="">Assassination</a></li>
            <li><a href="">Austria</a></li>
            <li><a href="">World War I</a></li>
        </ul>
    </span>
</article>